@(oprs: Seq[org.colibrifw.common.models.Operation])
@import helper._
@import helper.twitterBootstrap._
@import play.api.i18n.Messages
@import org.colibrifw.controllers._

@main(Messages("Operation.titile")) {
  <div class="container">
  <div class="hero-unit">
    <H1>@Messages("Common.Operation")</H1>
    <table border=1>
      <tr>
	<th>@Messages("Operation.identifier")</th>
	<th>@Messages("Operation.menu_message")</th>
	<th>@Messages("Operation.description")</th>
	<th>@Messages("Operation.order")</th>
	<th>@Messages("Common.create_date")</th>
	<th>@Messages("Common.update_date")</th>
	<th>@Messages("Common.update_user")</th>
	<th>@Messages("Operation.owner_organization")</th>
	<th>@Messages("Operation.status")</th>
      </tr>
      @oprs.map(opr => OperationList(opr))
    </table>

  </div>
  </div>
}
