@(users: Seq[org.colibrifw.common.models.User])
@import helper._
@import helper.twitterBootstrap._
@import play.api.i18n.Messages
@import org.colibrifw.controllers._

@main(Messages("User.title")) {
  <div class="container">
  <div class="hero-unit">
    <H1>@Messages("Common.User")</H1>
    <table border=1>
      <tr>
	<th>@Messages("User.account")</th>
	<th>@Messages("User.name")</th>
	<th>@Messages("User.description")</th>
	<th>@Messages("User.organization")</th>
	<th>@Messages("User.lang")</th>
	<th>@Messages("User.timezone")</th>
	<th>@Messages("User.locale")</th>
	<th>@Messages("User.country")</th>
	<th>@Messages("Common.approval")</th>
	<th>@Messages("Common.create_date")</th>
	<th>@Messages("Common.update_date")</th>
	<th>@Messages("Common.update_user")</th>
	<th>&nbsp;</th>
      </tr>
      @users.map(user => UserList(user))
    </table>

  </div>
  </div>
}
