@(user: org.colibrifw.common.models.User)
@import helper._
@import helper.twitterBootstrap._
@import play.api.i18n.Messages
@import org.colibrifw.controllers._

<tr>
  <td>@user.account</td>
  <td>@user.name</td>
  <td>@user.description.getOrElse("")</td>
  <td>@user.organization.get.name</td>
  <td>@user.lang.get.name</td>
  <td>@user.timezone.get.name</td>
  <td>@user.locale.get.name</td>
  <td>@user.country.get.name</td>
  <td>@Messages("Approval."+user.approval.get.name)</td>
  <td>@user.create_date</td>
  <td>@user.update_date.getOrElse("")</td>
  <td>@user.update_user.get</td>
  <td>@Messages("Status."+user.status.get.name)</td>
  <td>
@if(user.status_id == 1) {
      <input type="button" name="btn" value="@{Messages("Common.Modify")}" 
             onClick='location.href="/User/Modify/@user.id"'>
      <input type="button" name="btn" value="@{Messages("Common.Delete")}" 
             onClick='location.href="/User/Delete/@user.id"'>
}
@if(user.status_id == 2 || user.status_id == 3 || user.status_id == 4) { 
      <input type="button" name="btn" value="@{Messages("Common.Approve")}" 
             onClick='location.href="/User/Approve/@user.id"'>
      <input type="button" name="btn" value="@{Messages("Common.Cancel")}" 
             onClick='location.href="/User/Cancel/@user.id"'>
}
</td>
</tr>

