@(orgForm:Form[org.colibrifw.common.forms.OrganizationForm])
@import helper._
@import helper.twitterBootstrap._
@import play.api.i18n.Messages
@import org.colibrifw.controllers._
@import org.colibrifw.common.models._

@main("OrganizationAdministration") {
  <div class="container">
  <div class="hero-unit">
    <H1>@{Messages("Common.Organization") + " - (" + Messages("Common.Create")}</H1>
    @helper.form(action = routes.OrganizationAdministration.create) {
      <fieldset>
	@inputText(orgForm("name"), '_label -> Messages("Organization.name"))
	@inputText(orgForm("description"), '_label -> Messages("Organization.description"))
      </fieldset>
      <input type="submit" class="btn primary" value="@Messages("Common.Create")"> 
    }  
  </div>
  </div>
}
